body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  color: #cdd6f4;
  background: #1e1e2e;
}

#menu {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 200px;
}

.menu-button {
  cursor: pointer;
  /* padding: 10px; */
}

.menu-button:hover {
  background: #313244;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.w300 {
  width: 300px;
}

.todo-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin: 2px;
}

.itemButtons {
  display: flex;
  margin-left: auto;
}

.todo-item:hover {
  background: #313244;
}

.todo-list {
  display: flex;
  flex-direction: column;
  background: #181825;
  border-radius: 5px;
  width: 250px;
  padding: 5px 0;
}

dialog {
  background: none;
  margin: auto;
  padding: 0;
  border: none;
}

form {
  color: #cdd6f4;
  padding: 20px;
  background: #181825;
  border-radius: 5px;
}

input,
select {
  background: #313244;
  border: none;
  color: #cdd6f4;
}

select {
  height: 26px;
}

.todo-title {
  font-size: 14px;
  line-height: 20px;
}

.todo-desc {
  font-size: 12px;
  line-height: 16px;
}

.todo-due {
  font-size: 14px;
}

#addTodoButton {
  margin: 0 5px;
}
