body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
}

#menu {
  display: flex;
  flex-direction: column;
}

.menu-button {
  cursor: pointer;
}

.menu-button:hover {
  background: lightgray;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.w300 {
  width: 300px;
}

.todo-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin: 2px;
}

.delete {
  margin-left: auto;
}

.todo-item:hover {
  background: lightgray;
}

.todo-list {
  display: flex;
  flex-direction: column;
  background: gray;
  border-radius: 5px;
  width: 250px;
  padding: 5px 0;
}

dialog {
  margin: auto;
}

.todo-title {
  font-size: 14px;
  line-height: 20px;
}

.todo-desc {
  font-size: 12px;
  line-height: 16px;
}

.todo-due {
  font-size: 14px;
}
